<h1>Welcome to Max's Movies App!</h1>

<h3><%= link_to "+ Add New Movie", new_movie_path %></h3>

<%= form_tag movies_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<br/><br/>

<%= render 'list' %>
